.components_links {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
  }
  
  .components_link {
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
  }
  
  .components_link:hover {
    color: var(--first-color);
  }

/* ============== BREAKPOINTS ============== */
/* ============== For large devices =================== */
@media screen and (min-width: 1150px) {
  .components_links {
    column-gap: 4rem;
  }
}