.home {
    position: relative;
    .home_bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .home_container {
      position: relative;
      row-gap: 3rem;
      padding-top: 3rem;
      .home_data {
        position: relative;
        text-align: center;
        .home_title {
          font-size: var(--biggest-font-size);
          font-family: var(--second-font);
          font-weight: initial;
          margin-bottom: 1.5rem;
          span {
            display: block;
          }
          span:nth-child(1) {
            background: var(--third-gradient);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
          }
          span:nth-child(3) {
            background: var(--second-gradient);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
          }
        }
        .home_ovni {
          width: 50px;
          position: absolute;
          top: 4rem;
          right: -1rem;
          transform: rotateY(180deg);
        }
      }
      .home_img {
        width: 320px;
        justify-self: center;
      }
    }
    /*=============== BREAKPOINTS ===============*/
    /* ============= For small devices ============= */
    @media screen and (max-width: 340px) {
      .home_container {
        .home_data {
          .home_title {
            font-size: 2.5rem;
          }
        }
      }
    }
    /* ================ For medium devices =================== */
    @media screen and (min-width: 540px) {
      .home_container {
        grid-template-columns: 350px;
        justify-content: center;
      }
    }

    @media screen and (min-width: 768px) {
      .home_container {
        grid-template-columns: repeat(2, 350px);
        align-items: center;
        .home_data {
          text-align: initial;
        }
      }
    }
    /* ================ For large devices =================== */
    @media screen and (min-width: 1150px) {
      .home_container {
        grid-template-columns: 540px 550px;
        column-gap: 2rem;
        .home_data {
          .home_title{
            margin-bottom: 3rem;
          }
          .home_ovni {
            width: 100px;
            top: 10rem;
            right: 1.5rem;
          }
        }
        .home_img {
          width: 550px;
        }
      }
    }
  }
  

  








