.travel_card {
    position: relative;
    border: 2px solid;
    border-image: var(--second-gradient) 1;
    background: linear-gradient(hsla(243, 98%, 51%, .3), transparent);
    padding: 9.25rem 1rem 3rem;
    text-align: center;
  }
  
  .travel_image {
    width: 180px;
    position: absolute;
    top: -3rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotate(-90deg);
    transition: transform .6s;
  }
  
  .travel_title {
    font-size: var(--h2-font-size);
  }
  
  .travel_info {
    display: block;
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
  }
  
  .travel_description {
    font-size: var(--small-font-size);
  }

  /* ============== BREAKPOINTS ===============*/
  /* ============== For large devices =================== */
  @media screen and (min-width: 1150px) {
    .travel_card {
      padding-top: 11rem;
    }
  
    .travel_image {
      width: 200px;
    }
  
    .travel_info {
      margin-bottom: 1.5rem;
    }
  
    .travel_description {
      font-size: var(--normal-font-size);
    }
  }
  