.explore_info-title {
    font-size: var(--normal-font-size);
  }
  
  .explore_info-number {
    font-size: var(--h1-font-size);
    font-family: var(--second-font);
    background: var(--second-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .explore_info-number span {
    font-size: var(--small-font-size);
  }
  
  .explore_img {
    width: 320px;
    justify-self: center;
  }

  /* ============== BREAKPOINTS ===============*/
  /* ============== For medium devices =============== */
  @media screen and (min-width: 768px) {
    .explore_img {
      order: -1;
    }
  }

  /* ============== For large devices =================== */
  @media screen and (min-width: 1150px) {
    .explore_img {
      width: 550px;
    }
  }