.footer {
  overflow: hidden;
  .footer_container {
    position: relative;
    row-gap: 4.5rem;
    padding-block: 2rem;
    .footer-planet-1 {
      position: absolute;
      width: 200px;
      left: -6.5rem;
      bottom: -4.5rem;
    }
    .footer-planet-2 {
      position: absolute;
      width: 50px;
      top: 5.5rem;
      right: 0;
    }
    .footer_content {
      row-gap: 2.5rem;
      .footer_social {
        display: flex;
        column-gap: 1rem;
        justify-content: center;
      }
    }
    .footer_copy {
      text-align: center;
      z-index: var(--z-tooltip);
      color: var(--white-color);
      font-size: var(--small-font-size);
    }
  }
  /* ============== BREAKPOINTS ============== */
  /* ============== For large devices =================== */
  @media screen and (min-width: 1150px) {
    .footer_container {
      padding-block: 4rem 3rem;
      .footer-planet-1 {
        width: 400px;
        bottom: -12rem;
      }
  
      .footer-planet-2 {
        width: 150px;
      }
    }
  }
}
