.history_card {
    text-align: center;
  }
  
  .history_img {
    width: 150px;
    margin: 0 auto .75rem;
  }
  
  
  .history_description span{
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
  }

/* ============== BREAKPOINTS ============== */
/* ============== For large devices =================== */
  @media screen and (min-width: 1150px) {
    .history_img {
      width: 200px;
      margin-bottom: 1rem;
    }
  }